* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-weight: bolder;
  color: #AAA;

}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  list-style: none;
}
img {
  height: 430px;
  width: 430px;
  padding: 20px;
  border: 2px solid #DDD;
  border-radius: 3px;
}
.authors img {
  display: inline-block;
  height: 30px;
  width: 30px;
  padding: 0px;
  border: 0;

}
.octocat {
  float: left;
  margin: 10px;
}
.image-footer {
  display: block;
  position: relative;
  height: 40px;
  width: 430px;
  border-bottom: 2px solid #DDD;
  border-radius 3px;
}

.image-number:before {
  content: "#";
}

.image_number {
  display: inline;
  position: absolute;
  top: 0;
  left: 0;
}

.image-caption {
  display: inline-block;
  
}

.image-caption ul {
  display: inline-block;
}

.authors {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
}
